.avatar {
  border-radius: 50%;
}

.github {
  mask-image: url("/sns/github.svg");
}

.itchio {
  mask-image: url("/sns/itch-io.svg");
}

.zenn {
  mask-image: url("/sns/zenn.svg");
}

.unityroom {
  mask-image: url("/sns/unityroom.svg");
}

.snslinks {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.snslogo {
  width: 24px;
  height: 24px;
  background: rgb(255 255 255);
  transition-property: background;
  transition-duration: 150ms;
  mask-size: contain;
  mask-position: center;
  mask-repeat: no-repeat;
}

.snslogo:hover {
  background: rgb(255 102 231);
}
