.nav {
  width: 100%;
  margin-top: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.navLeft {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}

.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}

.logo {
  border-radius: 50%;
  transition-duration: 100ms;
  transition-property: opacity;
}

.logo:hover {
  opacity: 0.8;
}

.link {
  color: #fff;
  font-weight: bold;
  font-size: var(--nav-link-font-size);
  letter-spacing: var(--nav-link-letter-spacing);
  transition-duration: 100ms;
  transition-property: scale;
}

.link:hover {
  scale: 1.2;
}
