.hero {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 48px;
  overflow: hidden;
}

.notes {
  display: flex;
  align-items: left;
  flex-direction: column;
  gap: 24px;
}

.note {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 24px;
}

.noteContent {
  display: flex;
  align-items: left;
  flex-direction: column;
  gap: 12px;
}

.noteEmoji {
  font-size: 48px;
}

.noteTitle {
  font-size: 1.2rem;
  font-weight: 700;
}

.noteTitle:hover {
  text-decoration: rgb(var(--body-font-color)) dotted underline;
}

.noteDate {
  font-size: 0.8rem;
}

.intro {
  font-size: 2.5rem;
  font-weight: 800;
}

.name {
  color: rgb(var(--accent-color));
}

.at {
  color: rgb(255 255 255 / 24%);
}

.cards {
  position: relative;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  gap: 24px;
}

.card {
  width: calc(50% - 12px);
}

.kaomoji {
  margin-left: calc(((100vw - 100%) / 2) * -1);
  margin-right: calc(((100vw - 100%) / 2) * -1);
  overflow: hidden;
}

@media screen and (width < 700px) {
  .cards {
    grid-template-columns: 1fr;
    gap: 12px;
  }

  .card {
    width: 100%;
  }
}
