@import "tailwindcss";

@theme base {
  --color-bg: rgb(8 6 9);
  --color-bg-card: rgb(201 85 255);
  --color-fg-primary: rgb(230 220 230);
  --color-accent: rgb(235 102 255);
  --color-border: rgb(201 150 255 / 12%);
  --color-light: rgb(255 220 255);
  --animate-slide-up: slide-up 200ms ease both;

  @keyframes slide-up {
    0% {
      transform: translateY(8px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

body {
  /* fonts */
  --normal-fonts: var(--font-line-seed-jp), sans-serif;
  --monospace-fonts:
    var(--font-jetbrains-mono), var(--font-line-seed-jp), monospace;

  font-family: var(--normal-fonts);
}
:root {
  color-scheme: dark;
  scrollbar-gutter: stable;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
}
* {
  scrollbar-width: thin;
}
