:root {
  --bg-color: 13 4 18;
  --body-font-color: 177 146 194;

  /* fontsize */
  --sitetitle-font-size: 1.5rem;
  --name-font-size: 1.5rem;

  /* spacing */
  --sitetitle-letter-spacing: -0.05em;
  --name-letter-spacing: -0.05em;

  /* weight */
  --sitetitle-font-weight: 600;
  --name-font-weight: bold;
}

* {
  box-sizing: border-box;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: rgb(var(--bg-color));
  color: rgb(var(--body-text-color));
}

a {
  text-decoration: none;
  color: unset;
}
