@import "tailwindcss";

@theme base {
  --color-bg: rgb(16 12 18);
  --color-bg-card: rgb(201 85 255);
  --color-fg-primary: rgb(230 220 230);
  --color-accent: rgb(235 102 255);
  --color-border: rgb(201 150 255 / 12%);
  --color-light: rgb(255 220 255);
}

body {
  font-family: var(--font-geist), system-ui, sans-serif;
}
:root {
  color-scheme: dark;
  scrollbar-gutter: stable;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
}
* {
  scrollbar-width: thin;
}
