.footer {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  font-size: 0.875rem;
  font-weight: 500;
  color: rgb(83 62 95);
  padding: 48px 0;
  margin-top: 96px;
}
