.slideUp {
  animation: 400ms ease 200ms slideUp;
  animation-fill-mode: both;
}

@keyframes slideUp {
  from {
    transform: translateY(12px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}
